!/application/config/config.php

/system/*
!/system/core/*
!/system/index.php
/index.php


/application/logs/*
/system/cache/*

/public/uploads/


/vendor/


/.htaccess
/robots.txt


.idea/
.vscode/

